body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgb(172, 221, 253);
}

body > header {
    background-color: rgb(64, 64, 247);
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

label {
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper {
    display: inline-block;
}
.content {
    padding-bottom: 1.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 8px;
}

.container {
    padding: 1rem;
    margin: auto;
    max-width: 1114px;
}

@media (min-width: 640px) {
    .container {
        padding: 0;
        margin: auto;
        width: 640px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
}

@media (min-width: 1114px) {
    .container {
        padding: 0;
        margin: auto;
        width: 1114px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
}